@* Partials/_ModalDeleteSlide.cshtml *@
<div class="modal fade" id="modalDeleteSlide" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Eliminar Slide</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="deleteSlideId" />
                <p>¿Seguro que deseas eliminar el slide <strong id="deleteSlideTitle"></strong>?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger rounded-pill" onclick="confirmDeleteSlide()">Eliminar</button>
            </div>

        </div>
    </div>
</div>